<div class="tab">
  <button class="tablinks" [ngClass]="{'active': selectedDepartment === 'high-courts'}" (click)="switchToHighCourt('high-courts')">High Courts</button>
  <button class="tablinks" [ngClass]="{'active': selectedDepartment === 'district-courts'}" (click)="switchToDistrictCourt('district-courts')">District Courts</button>
  <button class="tablinks" [ngClass]="{'active': selectedDepartment === 'police-station'}" (click)="switchToPoliceStation('police-station')">Police Station</button>
</div>
