.width-7.ac {
    padding-left: 0px;
}

ul.grid li > span {
    padding: 7px 0px 7px 10px;
    border-right: #f4f4f4 solid 1px;
}
.ac {
    text-align: center;
}
.width-7 {
    width: 7%;
}
.pull-left {
    float: left;
}
.inner-page-content ul li {
    /* width: 30%; */
    display: flex;
}

.inner-page-content{
    display: none;
}