::ng-deep .text-left {
    color: green;
    font-weight: bold;
}

::ng-deep .panel-body .row {
    display: inline-table;
     margin: 5px; 
}




::ng-deep .panel-heading .row div {
    display: inline-table;
    border-left: 1px solid black;
}